<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a id="logo" href="#">Coding Hub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#aboutid">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#serviceid">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#contactid">Contact Us</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <div
                        class="hero-text col-md-6 col-12 order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
                        <h1>COME LEARN CODING with us</h1>
                        <h1>ONE STOP CODING PLATFORM</h1>
                        <p>Begin your coding journey Today <span class="bold-style">Coding Made Easy and Fun!!</span>
                        </p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                    <div class=" hero-text col-md-6 col-12 order-md-0 order-1">
                        <figure>
                            <img src="images/front.avif" alt="">
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <h1 class="main-heading text-center">About Us</h1>
                <p class="sub-heading text-center">Our Mission is to provide free offline and online coding courses.
                </p>
                <div class="row">
                    <div
                        class=" hero-text col-md-6 col-12 d-flex justify-content-center align-items-center flex-column">
                        <figure>
                            <img src="images/about.webp" alt="" class="about-img">
                        </figure>

                    </div>
                    <div class="hero-text col-md-6 col-12">
                        <h1>We are the team of professional developer</h1>
                        <p>We in,<span class="bold-style">Coding Hub</span> aim to provide everyone the world-class
                            coding
                            faculity,one on one doubts sessions keeping in mind the need of every students.So, Let us
                            Code and Change the world!!</p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid  mt-5 service-style" id="serviceid">
        <div class="row">

            <div class="col-md-10 col-12 mx-auto ">
                <h1 class="main-heading text-center">Our Courses</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/web_dev.png" alt="">
                                </div>
                                <h4>Web Devlopment</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/c++.png" alt="">
                                </div>
                                <h4>C++ Programming</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/java.png" alt="">
                                </div>
                                <h4>Java Programming</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/cybersecurity.jfif" alt="">
                                </div>
                                <h4>Cyber Security</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/blockchain.png" alt="">
                                </div>
                                <h4>Blockchain Technology</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="images/machinelearn.png" alt="">
                                </div>
                                <h4>Machine Learning</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid mt-5 contact-style" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <h1 class="main-heading text-center">Contact Us</h1>
                <p class="sub-heading text-center">For any course related query. feel free to contact </p>
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto">
                        <form action="/contact" method="POST">
                            <div class="form-group">
                                <label for="exampleInputpassword1" class="required">Name</label>
                                <input type="text" class="form-control" id="exampleInputpassword1"
                                    placeholder="Full Name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="required">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    placeholder="Enter your email" name="email" required>
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="required">Phone Number</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Phone Number" name="phone" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputpassword1">Feedback</label>
                                <input type="text" class="form-control" id="exampleInputpassword1"
                                    placeholder="Feedback" name="feedback">
                            </div>
                            <div class="form-group">
                                <label for="courses">Choose your course</label>
                                <select id="courses" name="courses" class="dropdown">
                                    <option value="web dev">Web Development</option>
                                    <option value="C++">C++ Programming</option>
                                    <option value="Java">Java Programming</option>
                                    <option value="Blockchain">Blockchain Technology</option>
                                    <option value="CyberSecurity">CyberSecurity</option>
                                    <option value="MachineLearning">Machine Learning</option>
                                </select>
                            </div>
                            <div class="from-group">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">check me out</label>
                            </div>
                            <button type="submit" class="btn-style btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>


</body>

</html>